*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body 
  {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    display: flex;
  }
  
  #sidebar 
  {
    background: rgb(20, 21, 105);
    color: white;
    width: 200px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s;
  }
  
  #sidebar.open {
    left: 0;
  }
  
  #sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #sidebar ul li {
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  #sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  #sidebar ul li a:hover {
    background: #555;
    text-decoration: none;
  }
  #header-container.sidebar-open {
    padding-left: 200px;
  }
  
  #header-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 62, 83);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    transition: margin-left 0.3s;
  }
  
  .fixed-header nav a {
    flex: 1;
    color: rgba(255, 255, 255, 1); 
    text-decoration: none; 
    margin-right: 20px;
    background-color: transparent;
  }
  
  .fixed-header nav a:hover {
    color: #FFFF00; 
  }
  
  #main-content-container {
    background-image: url('pic/stonks.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 60px;
    transition: margin-left 0.3s;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  
  #main-content-container.sidebar-open {
    margin-left: 200px;
  }
  .main-content {
  flex: 1;
  padding: 20px;
  }
  
  h1 {
  margin: 0;
  }
  
  
  #menu-btn {
  background: rgb(61, 62, 83);
  color: #ffffff; 
  border: none;
  padding: 15px 20px; 
  font-size: 18px;
  cursor: pointer;
  position: absolute; 
  top: 30px; 
  left: 20px;
  z-index: 1; 
  transform: translateY(-50%)
  }
  
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #777; 
    color: #333; 
    padding: 10px 20px;
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.button-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 50px 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-lg {
    font-size: 18px;
    padding: 15px 30px;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

.btn-secondary {
    background-color: yellow;
    color: #ffffff;
}

.btn-success {
    background-color: red;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.8;
}